.App{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/*online resume section*/
.online-resume{
  padding: 10px;
}

.online-resume .intro-section{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 736px) {

  .online-resume .intro-section .SelfIntro{
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SelfIntro .img-container{
    width: 100%;
    height: 350px;
  }

  .SelfIntro .img-container img{
    width: 100%;
    height: 100%;
  }

  .SelfIntro .title{
    margin: 15px 0;
    text-align: center;
  }

  .SelfIntro .title h1, .SelfIntro .title h3{
    margin-bottom: 1px;
    margin-top: 5px;
  }

  .SelfIntro .title h3{
    color: #80a1d6;
  }

  .SelfIntro .contact-info{
    width: 90%;
  }

  .SelfIntro .contact-info .spe-contact-info{
    display: flex;
    width: 100%;
    margin: 15px 0;
  }

  .contact-info .spe-contact-info p{
    margin: 0;
  }
}
